* {
  box-sizing: border-box;
  margin: 0;
}

html, body {
  background-color: #121212;
  height: 100%;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

main {
  display: flex;
  width: 75%;
}

.row {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0 2px;
}

.tile {
  display: flex;
  padding-bottom: 100%;
  border: 1px solid;
  border-radius: 10%;
  margin: 2px 0;
}

.hasTile {
  background-color: rgba(255, 255, 255, 0.05);
  border-color: rgba(255, 255, 255, 0.12);
}

.hasTile:hover {
  background: rgba(255, 255, 255, 0.09);
  cursor: pointer;
}

.noTile {
  border-color: rgba(255, 255, 255, 0.03);
  background-color: rgba(255, 255, 255, 0.01);
}

#clicked {
  background-color: rgba(255, 255, 255, 0.12);
}