* {
  box-sizing: border-box;
  margin: 0;
}

html, body {
  background-color: #121212;
  height: 100%;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

main {
  display: flex;
  width: 75%;
}

.row {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.tile {
  display: flex;
  background: url("icons/skull.png");
  background-size: cover;
  padding-bottom: 100%;
}